.f-l{
  float: left;
}
.clear-float{
  position: relative;
}
.clear-float::after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.f-r{
  float: right;
}
.l-h-60{
  line-height: 60px;
}
.l-h-70{
  line-height: 70px;
}
.l-h-100{
  line-height: 100px;
}
.m-l-20{
  margin-left: 20px;
}
.m-l-40{
  margin-left: 40px;
}
.m-l-60{
  margin-left: 60px;
}
.m-l-50{
  margin-left:50px;
}
.m-l-r-30{
  margin:0 30px;
}
.m-l-r-20{
  margin:0 20px;
}
.f-color-w{
  color:#fff;
}
.m-center{
  margin: 0 auto;
}
.cursor:hover{
  cursor: pointer;
}
ul,li{
 list-style: none;
  padding: 0;
  margin: 0;
 }
